<div class="sideMenu">
    <li class="sectionName">Manage Your Tasks</li>
    <li><a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a></li>
    <li><a routerLink="/admin/priority-view" routerLinkActive="active">Priority View</a></li>
    <li class="sectionName">Manage People</li>
    <li><a routerLink="/admin/user-list" routerLinkActive="active">People</a></li>
    <li><a>Roles</a></li>
    <li class="sectionName">CMS</li>
    <li><a>Themes</a></li>
    <li><a routerLink="/admin/cms-home" routerLinkActive="active">Customize</a></li>
</div>