

<div class="mb-5" *ngIf="hasTasks()">
    <app-task-counts [taskCounts]="taskCounts"></app-task-counts>
</div>


<div class="mb-5">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="section-title">Tasks Overview</h2>
        <button class="btn btn-primary" (click)="toggleTableView()">{{ tableView ? 'View Dashboard View' : 'Manage Tasks'}}</button>
    </div>

    <div class="itemRow">
        <div class="item highest">
            <p class="fw-bold">Overdue Tasks</p>
            <p>{{overDueTasks.length}}</p>
        </div>
        <div class="item low">
            <p class="fw-bold">Todays Tasks</p>
            <p>{{todyTasks.length}}</p>
        </div>
        <div class="item medium">
            <p class="fw-bold">Upcoming Tasks</p>
            <p>{{upcomingTasks.length}}</p>
        </div>
    </div>
</div>

<div class="dashView" *ngIf="!tableView">
    <div class="todayTasksSec mb-5">
        <div class="alert alert-success" *ngIf="!todyTasks.length">
            <h5 class="fw-bold">You don't have any Task sheduled for today!</h5>
        </div>
        <h2 class="section-title" *ngIf="todyTasks.length">Your Tasks Today</h2>
        <div class="tasksToday" *ngIf="todyTasks">
            <div class="taskbar"  [class]="task.priority.toLowerCase()" *ngFor="let task of todyTasks; index as i">
                <span class="taskname">{{task.taskName}}</span>
                <span>
                    <span>Due: {{task.deadline|date}}</span>
                    <button class="btn noStyle"><i class="pi pi-check"></i></button>
                    <button class="btn noStyle" (click)="editTaskModel(i,task)"><i class="pi pi-pencil"></i></button>
                </span>
            </div>
        </div>
    </div>
    
    <div class="upComingTasksSec">
        <div class="alert alert-success" *ngIf="!upcomingTasks.length">
            <h5 class="fw-bold">You have no tasks Scheduled for next 7 days</h5>
        </div>
        <h2 class="section-title" *ngIf="upcomingTasks.length">Upcoming Tasks</h2>
        <div class="tasksToday" *ngIf="todyTasks">
            <div class="taskbar" [class]="task.priority.toLowerCase()" *ngFor="let task of upcomingTasks; index as i">
                <span class="taskname">{{task.taskName}}</span>
                <span>
                    <span>Due: {{task.deadline|date}}</span>
                    <button class="btn noStyle"><i class="pi pi-check"></i></button>
                    <button class="btn noStyle" (click)="editTaskModel(i,task)"><i class="pi pi-pencil"></i></button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="tableView" *ngIf="tableView">
    <div>
        <p-table [value]="tasks">
            <ng-template pTemplate="header">
                <tr>
                    <th>Task Name</th>
                    <th>Task Description</th>
                    <th>Task Status</th>
                    <th>Task Priority</th>
                    <th>Deadline</th>
                    <th>Created Date</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-task let-i="rowIndex">
                <tr [formGroup]="taskForm"> 
                    <td>
                        <ng-container *ngIf="editIndex !== i; else editTemplateName">
                            {{ task.taskName }}
                        </ng-container>
                        <ng-template #editTemplateName>
                        <input type="text" class="form-control" formControlName="taskName" />
                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="editIndex !== i; else editTemplateDescription">
                            {{ task.description }}
                        </ng-container>
                        <ng-template #editTemplateDescription>
                        <input type="text" class="form-control" formControlName="description" />
                        </ng-template>
                    </td>
                    <td >
                        <ng-container *ngIf="editIndex !== i; else editTemplateStatus">
                            <span class="pill" [ngClass]="task.status.toLowerCase()">
                                {{ task.status | remove_underscore }}</span>
                        </ng-container>
                        <ng-template #editTemplateStatus>
                            <p-dropdown [options]="status_options" optionLabel="label" optionValue="value" formControlName="status" appendTo="body"></p-dropdown>
                        </ng-template>
                    </td>
                    <td >
                        <ng-container *ngIf="editIndex !== i; else editTemplatePriority">
                            <span class="pill" [ngClass]="task.priority.toLowerCase()">
                                {{ task.priority | remove_underscore }}</span>
                        </ng-container>
                        <ng-template #editTemplatePriority>
                            <p-dropdown [options]="priority_options" optionLabel="label" optionValue="value" formControlName="priority" appendTo="body"></p-dropdown>
                        </ng-template>
                    </td>
                    <td >
                        <ng-container *ngIf="editIndex !== i; else editTemplateDate">
                                {{ task.deadline | date }}
                        </ng-container>
                        <ng-template #editTemplateDate>
                            <p-calendar formControlName="deadline" [minDate]="deadlineMinDate"  appendTo="body" />
                        </ng-template>
                    </td>
                    <td>
                        {{ task.createdDate | date }}
                    </td>
                    <td>
                        <div class="d-flex gap-3">
                            <button class="btn noStyle round delete" (click)="deleteWarning(task.id)" *ngIf="editIndex !== i"> <i class="pi pi-trash"></i></button>
                            <button class="btn noStyle round edit" (click)="editTask(i,task)" *ngIf="editIndex !== i"> <i class="pi pi-pencil"></i></button>
                            <button *ngIf="editIndex === i" class="btn noStyle round save" (click)="saveTask()">
                            <i class="pi pi-save"></i>
                            </button>
                            <button class="btn noStyle" *ngIf="editIndex === i"  (click)="closeEdit()"><i class="pi pi-times"></i></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr *ngIf="!isAddMode && editIndex===null">
                    <td colspan="4">
                        <button class="btn btn-primary" (click)="toggleTaskForm()">Add Task</button>
                    </td>
                </tr>
                <tr *ngIf="isAddMode && editIndex===null" [formGroup]="taskForm">
                    <td>
                        <div class="formItem">
                            <input type="text" class="form-control" formControlName="taskName">
                        </div>
                    </td>
                    <td>
                        <div class="formItem">
                            <input type="text" class="form-control" formControlName="description">
                        </div>
                    </td>
                    <td>
                        <div class="formItem">
                            <p-dropdown type="text" [options]="status_options" optionLabel="label" optionValue="value" formControlName="status" appendTo="body"></p-dropdown>
                        </div>
                    </td>
                    <td>
                        <div class="formItem">
                            <p-dropdown type="text" [options]="priority_options" optionLabel="label" optionValue="value" formControlName="priority" appendTo="body"></p-dropdown>
                        </div>
                    </td>
                    <td>
                        <div class="formItem">
                            <p-calendar formControlName="deadline" [minDate]="deadlineMinDate" appendTo="body"/>
                        </div>
                    </td>
                    <td colspan="2">
                        <button class="btn btn-primary" (click)="submitForm()" [disabled]="!taskForm.valid">Add</button>
                        <button class="btn noStyle"  (click)="toggleTaskForm()"><i class="pi pi-times"></i></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="2">No tasks found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="modal fade show d-block deleteModal" *ngIf="showDeleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                
                <p class="d-flex align-items-center gap-4">
                    <span class="modalIcon">
                        <i class="pi pi-trash"></i>
                    </span>
                    Do you want to delete the task?
                </p>
                <div class="d-flex align-items-center justify-content-between">
                    <button class="btn btn-secondary">Cancel</button>
                    <button class="btn btn-primary" (click)="deleteTask()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show d-block" *ngIf="showEditModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form [formGroup]="taskForm">
                    <div class="form-group">
                        <label for="">Task Name</label>
                        <input type="text" class="form-control" formControlName="taskName">
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <input type="text" class="form-control" formControlName="description">
                    </div>
                    <div class="form-group">
                        <label for="">Status</label>
                        <p-dropdown type="text" [options]="status_options" optionLabel="label" optionValue="value" formControlName="status"></p-dropdown>
                    </div>
                    <div class="form-group">
                        <label for="">Priority</label>
                        <p-dropdown type="text" [options]="priority_options" optionLabel="label" optionValue="value" formControlName="priority"></p-dropdown>
                    </div>
                    <div class="form-group">
                        <label for="">Deadline</label>
                        <p-calendar formControlName="deadline" [minDate]="deadlineMinDate"/>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <button class="btn noStyle" (click)="closeEdit()"><i class="pi pi-times"></i></button>
                        <button class="btn btn-primary" (click)="saveTask()" [disabled]="!taskForm.valid">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="modal-backdrop show" *ngIf="showDeleteModal || showEditModel"></div>